@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: var(--font-ubuntu), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-like: var(--like);
  --color-saved: var(--saved);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.184 0.035 264.47);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.184 0.035 264.47);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.184 0.035 264.47);
  --primary: oklch(0.648 0.176 242.55);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.985 0.003 247.86);
  --secondary-foreground: oklch(0.184 0.035 264.47);
  --muted: oklch(0.985 0.003 247.86);
  --muted-foreground: oklch(0.706 0.029 253.94);
  --accent: oklch(0.985 0.003 247.86);
  --accent-foreground: oklch(0.184 0.035 264.47);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.928 0.011 255.5);
  --input: oklch(0.928 0.011 255.5);
  --ring: oklch(0.648 0.176 242.55);
  --like: oklch(0.6 0.22 345);
  --saved: oklch(0.65 0.15 240);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.184 0.035 264.47);
  --foreground: oklch(1 0 0);
  --card: oklch(0.274 0.029 261.29);
  --card-foreground: oklch(1 0 0);
  --popover: oklch(0.274 0.029 261.29);
  --popover-foreground: oklch(1 0 0);
  --primary: oklch(0.648 0.176 242.55);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.274 0.029 261.29);
  --secondary-foreground: oklch(1 0 0);
  --muted: oklch(0.274 0.029 261.29);
  --muted-foreground: oklch(0.539 0.035 256.85);
  --accent: oklch(0.274 0.029 261.29);
  --accent-foreground: oklch(1 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.353 0.025 262.88);
  --input: oklch(0.353 0.025 262.88);
  --ring: oklch(0.648 0.176 242.55);
  --like: oklch(0.6 0.22 345);
  --saved: oklch(0.65 0.15 240);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground font-sans;
  }
}
